:root {
  --shadow: 5px 5px 5px rgba(128, 115, 115, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

body#body {
  background: #bcbabe;
  position: relative;

}

header {
  min-height: 400px;
  justify-content: center;
  line-height: 1.5;
  font-weight: 700;
  display: flex;
  text-align: center;
  background: url('./img/bg.png') no-repeat;
  background-size: cover;
  color: rgb(2, 6, 66);
  font-size: 1.23em;
  flex-direction: column;
  align-items: center;

}

header a {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

header h1 {
  font-size: 2em;
  color: gold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header p.cta_verse {
  color: #fff;
  font-size: 1.3em;
}

header p.cta_verse::after {
  content: 'Mark 14:3';
  /* background: blue; */
  height: 20px;
  display: block;
  color: #fff;
  text-align: right;
}

.cta-btn {
  background: gold;
  padding: 0.5rem 1rem;
  margin: 0.7em;
  border-radius: 0.4em;
}

#main {
  margin: 0.5em;
  padding: 1.5em;
}

#details {
  background: #e2e5f4;
  box-shadow: 5px 3px 4px #eee;
  padding: 1em;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  
}

.header-pic {
  margin: auto;
  float: right;
}

.header-pic img {
  max-width: 100%;
  max-height: 400px;
}

.box-info {
  max-width: 100%;
  background: #fff;
  /* height: 100%; */
  padding: 2em;
  font-size: 2em;
}

.vision {
  font-size: 1.3em;
  text-align: center;
  margin-top: 1em;
  padding: 0.65em;
}

.vision h2 {
  text-decoration: underline;
  margin-bottom: 0.3em
}

.mission h2 {
  font-size: 1.3em;
  text-decoration: underline;
  text-align: center;
  margin: 0.4em;
}

.scriptures {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.scripture {
  background: #fff;
  margin: 0.4em;
  padding: 0.3em;
  box-shadow: var(--shadow);
  font-size: 1.3em;
}

.footer {
  background: red;
  text-align: center;
  padding: 1em;
  color: #fff;
  font-size: 1.8em;
  /* margin-bottom: -1em; */
  position: relative;
}